@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

@import "react-phone-input-2/lib/style.css";

@import "tailwindcss";

:root {
  --background: #035638;
  --foreground: #6c8f7fff;

}
@theme {
  --font-custom: "Host Grotesk"; /* Replaces default sans-serif stack */
}

@theme inline {
  --color-text-primary: #035638;

  --color-bg-foundation:#CED671;
  --color-background: var(--background);
  --color-brand: var(--background);
  --color-foreground: var(--foreground);
  
  --color-borderColor:#035638;
}
.host-grotesk {
  font-family: "Host Grotesk", sans-serif;
}



.heading{
   @apply text-black font-custom text-2xl not-italic font-[600] leading-[120%];

}
.smText{
  @apply text-[color:var(--Neutral-Neutral500,#696E7E)] text-[13px] not-italic font-normal leading-[120%];
  
}
.inputFeild{
  @apply  font-sans border border-[color:var(--stroke-soft-200,#E2E4E9)] shadow-[0_1px_2px_0_rgba(228,229,231,0.24)] rounded-[10px] border-solid;
  background: var(--bg-white-0, #fff);
}
.formHeading{
  @apply  font-sans text-[color:var(--Foundation-Green-Normal,#035638)] font-sans text-2xl not-italic font-medium leading-6;
  
}


.labelText{
@apply text-[color:var(--Neutral-900,#101828)] font-sans text-sm not-italic font-medium leading-[160%];
 
}
.linkText{
  @apply  text-[16px] leading-[16px] font-sans tracking-[0%] text-[#838794] 
}
.activeLink{
  @apply font-medium text-[16px] leading-[16px] font-sans tracking-[0%] text-[#92c651] bg-green-300 px-4 py-1 rounded-lg
}

.pageTitle{
  @apply font-sans  text-[24px] leading-[100%] tracking-[0%];
}
.pageSubTitle{
  @apply  text-[color:var(--Neutral-Neutral400,#838794)]  text-base not-italic font-sans leading-[normal]
}
.statcardTitle{
  @apply  font-semibold font-sans text-[16px] leading-[100%] tracking-[0%] text-[#838794];
}
.statcardNumber{
  @apply  font-semibold font-sans text-[20px] leading-[100%] tracking-[0%] text-[#000000];
}

.statcardSubTitle{
  @apply  font-semibold font-sans text-[12px] leading-[100%] tracking-[0%] text-[#838794];
}
.topHeading1{
   @apply text-black font-sans text-2xl not-italic font-normal leading-[100%];
  font-family: "Bagel Fat One";
}



/* Fix for autofill background color in WebKit browsers */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}
