@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "react-phone-input-2/lib/style.css";

@import "tailwindcss";

:root {
  --background: #035638;
  --foreground: #6c8f7fff;

}
@theme {
  --font-sans: "Host Grotesk", sans-serif; /* Replaces the default sans-serif stack */
}

@theme inline {
  --color-text-primary: #000000;
  --color-text-primary:#696E7E;
  --color-text-primary:#B7BE64;
  --color-bg-foundation:#CED671;
  --color-background: var(--background);
  --color-brand: var(--background);
  --color-foreground: var(--foreground);
  
  --color-borderColor:#E2E4E9;
}

.heading{
   @apply text-black text-2xl not-italic font-[600] leading-[120%];

}
.smText{
  @apply text-[color:var(--Neutral-Neutral500,#696E7E)] text-[13px] not-italic font-normal leading-[120%];
  
}
.inputFeild{
  @apply border border-[color:var(--stroke-soft-200,#E2E4E9)] shadow-[0_1px_2px_0_rgba(228,229,231,0.24)] rounded-[10px] border-solid;
  background: var(--bg-white-0, #fff);
}
.labelText{

}
.linkText{
  @apply font-medium text-[16px] leading-[16px] tracking-[0%] text-[#838794] 
}
.activeLink{
  @apply font-medium text-[16px] leading-[16px] tracking-[0%] text-[#92c651] bg-green-300 px-4 py-1 rounded-lg
}

.pageTitle{
  @apply font-['Bagel_Fat_One'] font-normal text-[24px] leading-[100%] tracking-[0%];
}
.pageSubTitle{
  @apply  font-medium text-[16px] leading-[100%] tracking-[0] text-[#838794];
}
.statcardTitle{
  @apply  font-semibold text-[16px] leading-[100%] tracking-[0%] text-[#838794];
}
.statcardNumber{
  @apply  font-semibold text-[20px] leading-[100%] tracking-[0%] text-[#000000];
}

.statcardSubTitle{
  @apply  font-semibold text-[12px] leading-[100%] tracking-[0%] text-[#838794];
}
.topHeading1{
   @apply text-black text-2xl not-italic font-normal leading-[100%];
  font-family: "Bagel Fat One";
}